//@import "fonts/fonts";
@import "~bootstrap/scss/functions";

@import "common/variables";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";
@import "autoload/swiper";
@import "~aos/src/sass/aos";

@import "common/bg-colors";
@import "common/typography";
@import "common/text-size-large";
@import "common/text-size-medium";
@import "common/text-size-small";
@import "common/_text-colours";
@import "common/buttons";

@import "common/spacing";
@import "common/spacing-mobile";
@import "common/spacing-desktop";

@import "utitilities/align";
@import "utitilities/height";
@import "utitilities/modal";
@import "utitilities/forms";
@import "utitilities/video-embed";
@import "utitilities/down-arrow";
@import "utitilities/cookie-banner";
@import "utitilities/header-dropdown-menu";
@import "utitilities/overlay";
@import "utitilities/bg-video-wrapper";

@import "headers/header-main";
@import "headers/header-small";
@import "headers/header-image";

@import "sections/section-text-image";
@import "sections/section-image-tabs";
@import "sections/section-gallery-coverflow";
@import "sections/section-casestudy-specification";
@import "sections/section-casestudy-related-projects";
@import "sections/section-projects";
@import "sections/section-team";
@import "sections/section-timeline";
@import "sections/section-map";
@import "sections/section-contact-footer";
@import "cards/card-project";

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

a {
  text-decoration: underline;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  scroll-behavior: auto;
}

*
{
  scroll-behavior: auto;
}

//scroll-behavior: auto;
