body#tinymce .button-cta  a {
  width: auto;
  background: #720D2D;
  color: #fff;
  display: inline-block;
  padding: 11px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
}

body#tinymce h1, body#tinymce h2, body#tinymce h3, body#tinymce h4, body#tinymce h5 {
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
}

body#tinymce p {
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
}
