.header-main {
  position: relative;
  overflow: hidden;

  .gradient-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background: linear-gradient(77deg, rgba(0,0,32,1) 0%, rgba(0,0,32,1) 29%, rgba(0,0,32,0) 100%);
  }

  .gradient-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background: linear-gradient(50deg, rgba(0,0,32,1) 0%, rgba(0,0,32,1) 29%, rgba(0,0,32,0) 100%);
  }

  .gradient-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background: linear-gradient(77deg, rgba(14,54,133,0.1) 0%, rgba(14,54,133,1) 70%, rgba(14,54,133,1) 100%);
  }

  .gradient-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background: linear-gradient(90deg, rgba(14,54,133,0.2) 0%, rgba(14,54,133,1) 70%, rgba(14,54,133,1) 100%);
  }

  .gradient-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background: linear-gradient(77deg, rgba(136,187,236,0) 20%, rgba(136,187,236,1) 80%, rgba(136,187,236,1) 100%);
  }

  .gradient-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background: linear-gradient(50deg, rgba(136,187,236,0) 20%, rgba(136,187,236,1) 80%, rgba(136,187,236,1) 100%);
  }

  .gradient-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background: linear-gradient(90deg, rgba(253,197,108,0) 40%, rgba(253,197,108,1) 98%, rgba(253,197,108,1) 100%);
  }

  .gradient-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background: linear-gradient(120deg, rgba(253,197,108,0) 40%, rgba(253,197,108,1) 98%, rgba(253,197,108,1) 100%);
  }

  .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

