.section-casestudy-related-projects {
  position: relative;
  overflow: hidden;

  .title-wrapper {
    border-bottom: 1px solid rgba(14,54,133,1);
  }

  .image {
    img {
      width: 100%;
      height: auto;
    }
  }
}

