.section-timeline {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  $height: 100vh;
  //$mobileWidth: 25vw;
  $desktopWidth: 25vw;

  &:after {
    content: "";
    width: 1px;
    height: 100%;
    //background: #ff0;
    position: fixed;
    left: 50vw;
    top: 0;
    z-index: 10000
  }

  .timeline-footer {
    position: absolute;
    width: 100vw;
    left: 0;
    bottom: -1px;
  }

  .key {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;

    .corporate-key {
      text-transform: uppercase;
      font-size: 80%;
    }

    .project-key {
      text-transform: uppercase;
      font-size: 80%;
    }
  }

  .title {
    position: absolute;
    width: 100vw;
    left: 0;
    top: var(--section-xs);

    @include media-breakpoint-up(sm) {
      top: var(--section-sm);
    }

    @include media-breakpoint-up(md) {
      top: var(--section-md);
    }

    @include media-breakpoint-up(lg) {
      top: var(--section-lg);
    }

    @include media-breakpoint-up(xl) {
      top: var(--section-xl);
    }

    @include media-breakpoint-up(xxl) {
      top: var(--section-xxl);
    }
  }

  .trigger {
    position: absolute;
    top: 0;
    left: 0;
  }

  #container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    height:$height;
    position: relative;
    z-index: 500;

    &:before {
      width: 100%;
      height: 4px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: "";
      background: var(--background-color-dark);
    }
  }

  /*.start-spacer {
    height:100%;
    display:flex;
    width: 75vw;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;

    &:before {
      width: 100%;
      height: 4px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: "";
      background: var(--background-color-dark);
    }
  }*/

  .year{
    height:100%;
    display:flex;
    width: 25vw;
    align-items: center;
    text-align: center;
    //justify-content: center;
    position: relative;

    &:after {
      content: "";
      width: 1px;
      height: 100%;
      //background: #ff0;
      position: absolute;
      left: 0;
      top: 0;
    }


    .hotspot {
      width: 25vw;
      height: 300px;
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translateY(-50%);
      background: rgba(255, 0, 0, 0);
      cursor: pointer;
     // border: 1px solid #f00;
    }

    h3 {
      margin: 0;
      padding: 0;
      font-size: 2rem;
    }

    &:before {
      width: 100%;
      height: 4px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: "";
      background: var(--background-color-dark);
    }

    .content {
      position: relative;
      width: 100%;

      .dot {
        cursor: pointer;
        width: 28px;
        height: 28px;
        //border: 4px solid var(--background-color-dark);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        content: "";
        //background: var(--background-color-light);
        //-webkit-border-radius: 14px;
        //-moz-border-radius: 14px;
        //border-radius: 14px;

        .d1 {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          transform: translateX(-50%) translateY(-50%);
          fill: #001F60;
        }

        .d2 {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          transform: translateX(-50%) translateY(-50%);
        }
      }

      .image {
        img {
          width: 100px;
          height: auto;
          overflow: hidden;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
        }

        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      P {
        font-size: 80%;
      }

      .corporate {
        position: absolute;
        top: -70px;
        transform: translateX(-50%);
        left: 50%;

        .corporate-wrapper {
          position: absolute;
          bottom: 45px;
          transform: translateX(-50%);
          left: 50%;
         // background: #f00;

          .corporate-inner {
            padding-top: 20px;
            padding-bottom: 20px;
            width: 200px;
           // background: #f0f;
            border-top: 1px solid var(--background-color-dark);

            &:first-child {
              border-top: 0 solid var(--background-color-dark);
            }

            p {
              padding-bottom: 10px;

              &:last-child {
                padding-bottom: 0px;
              }
            }
          }
        }
      }

      .project {
        position: absolute;
        bottom: -70px;
        transform: translateX(-50%);
        left: 50%;


        .project-wrapper {
          position: absolute;
          top: 40px;
          transform: translateX(-50%);
          left: 50%;


          .project-inner {
            padding-top: 20px;
            padding-bottom: 20px;
            width: 200px;

            border-bottom: 1px solid var(--background-color-dark);

            &:last-child {
              border-bottom: 0 solid var(--background-color-dark);
            }

            p {
              padding-bottom: 15px;

              &:last-child {
                padding-bottom: 0px;
              }
            }
          }
        }
      }
    }

    &.active {
      .content {
        .dot {
          .d1 {
            fill: var(--background-color-secondary);
          }
        }
      }
    }
  }

  .horizontal {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .project-inner, .corporate-inner {
      margin-top: 20px;
      margin-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      border-bottom: 0 solid var(--background-color-dark) !important;
      border-top: 0 solid var(--background-color-dark) !important;
      position: relative;
      opacity: 0;

      &:after {
        width: 1px;
        height: 70px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        content: "";
        background: var(--background-color-dark);
      }


      &:last-child {
        &:after {
          display: none;
        }
      }
    }

    &.top {
      align-items: start;

      .project-inner {
        &:after {
          transform: translateY(0%);
          top: 15px;
        }
      }
    }
  }

  .end-spacer {
    height:100%;
    display:flex;
    width: 75vw;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;

    &:before {
      width: 100%;
      height: 4px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: "";
      background: var(--background-color-dark);
    }
  }
}

