.section-gallery-coverflow {
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    &::after {
      display: none;
    }
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    &::after {
      display: none;
    }
  }

  .container-fluid {
    .swiper-container {
      overflow: visible;
    }
  }

  .swiper-slide {
    .image-wrapper{
      background: #fff;
    }
    img {
      opacity: 0.7;
      width: 100%;
      -webkit-transition: $transition ease-in-out;
      -moz-transition: $transition ease-in-out;
      -o-transition: $transition ease-in-out;
      transition: $transition ease-in-out;
    }
  }

  .swiper-slide-active  {


    img {
      opacity: 1;
    }
  }
}
