.h-auto {
  height: auto;
}

.h-fullscreen-mobile {
  @include media-breakpoint-down(lg) {
    height: 100vh;
  }
}

.h-fullscreen-desktop {
  @include media-breakpoint-up(lg) {
    height: 100vh;
  }
}

.full-height {
  height: 100%;
}

