.bg-video-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;

  .video-js {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 0;
    background-color: transparent;
    //object-fit: cover;

    video {
      position: relative !important;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .video-js .vjs-tech {
      position: relative !important;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
